#overlay {
  display: none;
  position: absolute;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.65);

  #modalWrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#colorModal {
  font-size: 14px;
  margin-top: 4vh;
  padding: 1.5em;
  width: 80vw;
  min-width: 18.75em;
  max-width: 35em;
  background-color: #FFFFFF;
}

  #modalHeader {
    padding-bottom: .25em;
    border-bottom: 1px solid #17181A;
  }
  
    #modalTitle {
      display: inline-block;
    }

    #exitModal {
      cursor: pointer;
      display: inline-block;
      font-weight: 700;
      float: right;
      font-size: 18px;
      &:hover {
        color: #999999;
      }
    }
  
  #colorSelector {
    margin-top: .5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

    #colorPaletteEdit {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: 
        "color0 color1 color2 color3 color4 color5" 
        "color6 color7 color8 color9 color10 color11";
      width: 15.5em;
      height: (15.5/6*2) + em;
      margin: 1em auto 0em;
      padding: .5em 1em;
      background-color: #F2F2F2;
      border-radius: .25em;
      
      & div {
        cursor: pointer;
        box-sizing: border-box;
      }
      .e-color-0 {
        border-radius: .25em 0 0 0;
      } 
      .e-color-5 {
        border-radius: 0 .25em 0 0;
      }
      .e-color-6 {
        border-radius: 0 0 0 .25em;
      }
      .e-color-11 {
        border-radius: 0 0 .25em 0;
      }
    }
   
    #editTools { 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 1em;
      #sliders {
        order: 1;
        margin-top: 1em;
        div {
          display: block;
          margin-top: 1em;
        }
        .rangeLabel {
          text-align: center;
          vertical-align: text-top;
        }
        .singleInput {
          vertical-align: text-top;
          border: solid 1px #17181A;
          text-align: center;
          width: 2em;
        }
        .colorRange {
          cursor: pointer;
          display: inline;

          -webkit-appearance: none; /*clear default styles for chrome/safari */
          background: transparent; /*otherwise white in chrome */

          &::-webkit-slider-runnable-track {
            width: 100%;
            height: 1.5em;
            border-radius: 1em;
          }
          &::-moz-range-track {
            width: 100%;
            height: 1.5em;
            border-radius: 1em;
            background: transparent;

          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: solid 2px #FFFFFF;
            margin-top: .125em;
            height: 1.25em;
            width: 1.25em;
            border-radius: 1em;
          }
          &::-moz-range-thumb {
            border: solid 2px #FFFFFF;
            height: 1.25em;
            width: 1.25em;
            border-radius: 1em;
            background-color: transparent;
          }

          &:focus {
            outline: none;
          }
        }
        .colorRange {
          border-radius: 1em;
        }
      }
      #output {
        order: 0;
        #colorResult {
          border: solid 1px #17181A;
          display: block;
          width: 8em;
          height: 8em;
        }
        .colorLabel {
          display: inline;
          margin-right: .75em;
        }
        .colorInput {
          display: inline-block;
          margin-top: .5em;
          width: 6em;
          border: solid 1px #17181A;
        }
      }
    }

  #editButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.5em;
    * {
      cursor: pointer;
      margin-right: 1em;
      padding: .75em 1.5em;
      border-radius: 1.5em;
      font-size: 13px;
    }
  }

  #cancelButton {
    border: solid 2px #d1d8e0;
    color: #c1c8d0;
    font-weight: 700;
    background: #FFFFFF;
    &:hover {
      border: solid 2px #c1c8d0;
      color: #b1b8c0;
    }
  } 

  #applyButton {
    color: #FFFFFF;
    background: #20bf6b;
    &:hover {
      background: #10af5b;
    }
  }

@media (min-width: 500px) {
  #colorModal {
    font-size: 16px;
  }
  #editTools { 
    margin-top: 2em;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    #sliders {
      order: 0;
    }
    #output {
      order: 1;
    }
  }
}

