body {
  overflow: hidden;
}

#overlay {
  display: none;
  position: absolute;
  z-index: 3;
  height: 100vh;
  width: 100vw;

  /* background-color: rgba(0,0,0, 0.65); */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */

  #modalWrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

  #colorModal {
    margin-top: 10vh;
    max-width: 20em;
    max-height: 20em;
    background-color: #FFFFFF;
    border-radius: .25em;
  }

.topLayer {
  position: absolute;
  z-index: 2;
}

  #appTitle {
    margin-top: 1.125em;
    font-family: 'Oswald', sans-serif;
    padding: .5em 1.5em;
    img {
      display: inline-block;
      vertical-align: middle;
    }
    h1 {
      margin-left: .25em;
      font-size: 2em;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .whiteText {
    color: #FFFFFF;
  }

  .blackTextAndBorder {
    color: #202025; 
    border: solid 1px #202025;
  }

.mainContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

  #view {
    z-index: 0;
    width: 100vw;
    background-image: url('/img/bg-pattern.png');
    background-repeat: repeat;
    background-size: 40px;
    flex-grow: 1; /*fill up remaining space*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #editor {
      position: absolute;
      cursor: url('/img/iconmonstr-pencil-4-16.png') 0 16, auto;
    }
  }

  .actionsWrapper {
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 8em;
    background-color: #F2F2F2;
    border-top: solid 1px #B3B3B3;
  }

    #colorPalette {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-areas: 
        "color0 color1 color2 color3 color4 color5 color6" 
        "color7 color8 color9 color10 color11 color12 selectColor";
      width: 18em;
      height: (18/7*2) + em;
      margin: auto;
    }
      
      .active {
        border: solid 1px #ffffff;
      }

      .color-0 { 
        border-radius: .25em 0 0 0;
        background-color: #8CC63F; 
        grid-area: color0;
      }
      .color-1 { 
        background-color: #009245;
        grid-area: color1;
      }
      .color-2 { 
        background-color: #0071BC;
        grid-area: color2;
      }
      .color-3 { 
        background-color: #662D91; 
        grid-area: color3;
      }
      .color-4 { 
        background-color: #D4145A; 
        grid-area: color4;
      }
      .color-5 { 
        background-color: #202025; 
        grid-area: color5;
      }
      .color-6 { 
        border-radius: 0 .25em 0 0;
        background-color: #FFFFFF; 
        grid-area: color6;
      }
      .color-7 { 
        border-radius: 0 0 0 .25em;
        background-color: #D9E021; 
        grid-area: color7;
      }
      .color-8 { 
        background-color: #22B573; 
        grid-area: color8;
      }
      .color-9 { 
        background-color: #29ABE2; 
        grid-area: color9;
      }
      .color-10 { 
        background-color: #93278F; 
        grid-area: color10;
      }
      .color-11 { 
        background-color: #FF3333; 
        grid-area: color11;
      }
      .color-12 { 
        background-color: #999999; 
        grid-area: color12;
      }
      .select-color { 
        border-radius: 0 0 .25em 0;
        grid-area: selectColor;
        background-color: #E8E8E8; 
        position: relative;
        img {
          position: absolute;
          top: .5em;
          left: .5em;
        }
        &:hover {
          background-color: #E0E0E0; 
        }
      }

@media (min-width: 640px) {
  .mainContent {
    flex-direction: row;
  }

    #view {
      width: auto;
    }

    .actionsWrapper {
      height: 100vh;
      width: 8em;
      border-left: solid 1px #B3B3B3;
      border-top: none;
    }

      #colorPalette {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
          "color0 color7"
          "color1 color8"
          "color2 color9"
          "color3 color10"
          "color4 color11"
          "color5 color12"
          "color6 selectColor";
        height: 18em;
        width: (18/7*2) + em;
        margin: auto;
      }
     
      .color-6 {
        border-radius: 0 0 0 .25em;
      }

      .color-7 {
        border-radius: 0 .25em 0 0;
      }
}
