body {
  overflow: hidden;
}

.topLayer {
  position: absolute;
}

  header {
    margin-top: 1.125em;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    background-color: #D4145A;
    padding: .5em 1.5em;
    img {
      display: inline-block;
      vertical-align: middle;
    }
    h1 {
      font-size: 2em;
      display: inline-block;
      vertical-align: middle;
    }
  }

.flexWrapper {
  width: 100vw;
  height: 85vh;
  background-image: url('/img/bg-pattern.png');
  background-repeat: repeat;
  background-size: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  article {
    #editor {
      cursor: url('/img/iconmonstr-pencil-4-16.png') 0 16, auto;
    }
  }
}

.actionsWrapper {
  width: 100vw;
  height: 15vh;
  background-color: #F2F2F2;
  border-top: solid 1px #B3B3B3;
}

