@import "colorModal";

body {
  overflow: hidden;
}

.topLayer {
  position: absolute;
  z-index: 2;
}

  #appTitle {
    margin-top: 1.125em;
    font-family: 'Oswald', sans-serif;
    padding: .5em 1.5em;
    img {
      display: inline-block;
      vertical-align: middle;
    }
    h1 {
      margin-left: .25em;
      font-size: 2em;
      display: inline-block;
      vertical-align: middle;
    }
  }
    .whiteText {
      color: #FFFFFF;
    }
    .blackTextAndBorder {
      color: #202025; 
      border: solid 1px #202025;
    }

  /*
  .userCounter {
    background-color: #F2F2F2;
    margin-top: 1em;
    padding: .35em .75em;
    * {
      vertical-align: middle;
      display: inline-block;
    }
    #userCount {
      margin-left: .25em;
    }
  }
  */

.mainContent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

  #view {
    z-index: 0;
    width: 100vw;
    background-image: url('/img/bg-pattern.png');
    background-repeat: repeat;
    background-size: 40px;
    flex-grow: 1; /*fill up remaining space*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #editor {
      position: absolute;
      cursor: url('/img/iconmonstr-pencil-4-16.png') 0 16, auto;
    }
  }

  .actionsWrapper {
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 8em;
    background-color: #F2F2F2;
    border-top: solid 1px #B3B3B3;
  }

    #colorPalette {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-areas: 
        "color0 color1 color2 color3 color4 color5 eraser" 
        "color6 color7 color8 color9 color10 color11 selectColor";
      width: 18em;
      height: (18/7*2) + em;
      margin: auto;
      & div {
        cursor: pointer;
        box-sizing: border-box;
      }
    }
      
      .active {
        border: solid 1px #ffffff;
      }

      .color-0 { 
        border-radius: .25em 0 0 0;
        background-color: #D4145A; 
        grid-area: color0;
      }
      .color-1 { 
        background-color: #93278F;
        grid-area: color1;
      }
      .color-2 { 
        background-color: #662D91;
        grid-area: color2;
      }
      .color-3 { 
        background-color: #3F51B5; 
        grid-area: color3;
      }
      .color-4 { 
        background-color: #03A9F4; 
        grid-area: color4;
      }
      .color-5 { 
        background-color: #000000; 
        grid-area: color5;
      }
      .eraser {
        border-radius: 0 .25em 0 0;
        grid-area: eraser;
      }
      .color-6 { 
        border-radius: 0 0 0 .25em;
        background-color: #FF9800; 
        grid-area: color6;
      }
      .color-7 { 
        background-color: #FFC107; 
        grid-area: color7;
      }
      .color-8 { 
        background-color: #FFEB3B; 
        grid-area: color8;
      }
      .color-9 { 
        background-color: #CDDC39; 
        grid-area: color9;
      }
      .color-10 { 
        background-color: #4CAF50; 
        grid-area: color10;
      }
      .color-11 { 
        background-color: #FFFFFF; 
        grid-area: color11;
      }
      .select-color { 
        border-radius: 0 0 .25em 0;
        grid-area: selectColor;
        background-color: #E8E8E8; 
        position: relative;
        img {
          position: absolute;
          top: .5em;
          left: .5em;
        }
        &:hover {
          background-color: #E0E0E0; 
        }
      }

@media (min-width: 640px) {
  .mainContent {
    flex-direction: row;
  }

    #view {
      width: auto;
    }

    .actionsWrapper {
      height: 100vh;
      width: 8em;
      border-left: solid 1px #B3B3B3;
      border-top: none;
    }

      #colorPalette {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
          "color0 color6"
          "color1 color7"
          "color2 color8"
          "color3 color9"
          "color4 color10"
          "color5 color11"
          "eraser selectColor";
        height: 18em;
        width: (18/7*2) + em;
        margin: auto;
      }
     
      .eraser {
        border-radius: 0 0 0 .25em;
      }

      .color-6 {
        border-radius: 0 .25em 0 0;
      }
}
