* {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  border: 0px;
  font: inherit;
}

div {
  display: inline-block;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
