<!DOCTYPE html>
<html>
<head>
  <title> Test </title>
  <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
  <!-- A standalone build of socket.io-client is exposed
  automatically by the socket.io server as /socket.io/socket.io.js. -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    socket.on('connect', function() {
      socket.emit('identifier', {type: 'web-client'});

      //socket.emit('post', {type: 'single-pixel', pixel: 1, color: [0, 255, 255]});
      socket.emit('post', {
        type: 'all-pixels',
        colors: [
          [0, 0, 0], [0, 0, 0], [250, 135, 140], [0, 0, 0], [0, 0, 0],
          [0, 0, 0], [243, 90, 120], [0, 0, 0], [0, 0, 0], [0, 0, 0],
          [179, 70, 109], [243, 90, 120], [250, 135, 140], [243, 220, 176], [254, 222, 139],
          [0, 0, 0], [243, 90, 120], [0, 0, 0], [0, 0, 0], [0, 0, 0],
          [0, 0, 0], [0, 0, 0], [250, 135, 140], [0, 0, 0], [0, 0, 0]
        ],
        time: 1000
      });
      window.setTimeout(function() {
        socket.emit('post', {
          type: 'all-pixels',
          colors: [
            [0, 0, 0], [0, 0, 0], [250, 135, 140], [0, 0, 0], [0, 0, 0],
            [0, 0, 0], [0, 0, 0], [0, 0, 0], [243, 220, 176], [0, 0, 0],
            [179, 70, 109], [243, 90, 120], [250, 135, 140], [243, 220, 176], [254, 222, 139],
            [0, 0, 0], [0, 0, 0], [0, 0, 0], [243, 220, 176], [0, 0, 0],
            [0, 0, 0], [0, 0, 0], [250, 135, 140], [0, 0, 0], [0, 0, 0]
          ],
          time: 1000
        });
      }, 2000);
    });
  </script>
</head>
<body>
  <canvas id="editor" width="100" height="100">
    <!-- TODO: Add fallback response. -->
  </canvas>


  <script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>
