<!DOCTYPE html>
<html>

<head>
  <title> Pixel </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" type="text/css" href="/main.bundle.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/pixelApp.bundle.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/canvasGrid.bundle.css" media="screen" />

  <script src="https://use.fontawesome.com/39ddb2bf02.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
</head>

<body>
  <div class="topLayer">
    <header>
      <img src="/img/PixelWallLogo.png" width="42px"/>
      <h1>PXL WALL</h1>
    </header>
  </div>

  <article class="mainContent">
    <section id="view">
      <article>
        <canvas id="editor" width="50" height="50"></canvas>
      </article>
    </section>
    <section class="actionsWrapper">
    </section>
  <article>

  <script type="text/javascript" src="main.bundle.js"></script>
  <script type="text/javascript" src="pixelApp.bundle.js"></script>
  <script type="text/javascript" src="canvasGrid.bundle.js"></script>
</body>

</html>
