<!DOCTYPE html>
<html>
<head>
  <title> Test </title>
  <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
  <!-- A standalone build of socket.io-client is exposed
  automatically by the socket.io server as /socket.io/socket.io.js. -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    socket.on('connect', function() {
      socket.emit('identifier', {type: 'web-client'});
    });
  </script>
</head>
<body>
  <canvas id="editor" width="101" height="101">
    <!-- TODO: Add fallback response. -->
  </canvas>


  <script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>
