<!DOCTYPE html>
<html>
<head>
  <title> Test </title>
  <!-- A standalone build of socket.io-client is exposed
  automatically by the socket.io server as /socket.io/socket.io.js. -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    socket.on('connect', function() {
      socket.emit('identifier', {type: 'web-client'});

      socket.emit('say hello');
    });
  </script>
</head>
<body>
  <h1> SUCCESS! </h1>
</body>
</html>
